@font-face {
  font-family: 'GothamWebFont';
  font-weight: 200;
  src: url('Gotham-Light.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'GothamWebFont';
  font-weight: 300;
  src: url('Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'GothamWebFont';
  font-weight: 400;
  src: url('Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'GothamWebFont';
  font-weight: 600;
  src: url('Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'GothamWebFont';
  font-weight: 900;
  src: url('Gotham-Black.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('Gotham-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}