/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!web/bundles/.gitkeep
/apache-access.log
/apache-error.log
!/web/uploads
/web/uploads/*
!web/uploads/.gitkeep
/.idea
/composer.phar
/web/css/*
!web/css/.gitkeep
/web/media/*
!web/media/.gitkeep
/.up.dev
apache-access.log
apache-error.log
/.netbeans
/web/css/*
!web/css/.gitkeep
/web/js/*
!web/js/.gitkeep
