# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: localhost
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_port: 465
    mailer_host: mail.jaaqob.pl
    mailer_user: test-mail@jaaqob.pl
    mailer_password: b9RPFx1v4Q
    mailer_encryption: ssl

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    base_assets_path: /
    base_routes_prefix: ''

    locale: pl

    jwt_key_pass_phrase: domo2019

    recaptcha_public_key: ~
    recaptcha_private_key: ~
    mailer_send_to: ~
    mailer_apply_send_to: ~

    uglifyjs2_path: /usr/local/bin/uglifyjs
    uglifycss_path: /usr/local/bin/uglifycss
    node_path: /usr/lib/node_modules
    node_modules_path: /usr/local/lib/node_modules/

    offers_files_path: ~

    redis.host: ~
    redis.port: ~
    redis.db: ~
    redis.password: ~

